<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/home.css">
    <title>Document</title>
    <style>
        a:link,
        a:visited {
            background-color: #2196F3;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 25px;
            margin-right: 10px;
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            font-family: "Comic Sans MS", cursive, sans-serif;
        }

        a:hover,
        a:active {
            background-color: #0b7dda;
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }

        body {
            margin-top: 250px;
            background: url('images/4.jpg') no-repeat center fixed;
        }

        h1,
        p {
            text-transform: uppercase;
            color: white;
        }
    </style>
</head>
<body>
    <br><br>
<center>
    <div class="header">
        <h1>Welcome to Airlines Booking Platform</h1>
        <p>Please Login to book your tickets</p>
    </div>
    <form class="container" action="" method="POST">
        <a href="login" name="clk">Sign in</a>
        <a href="signup">Create New account</a>
    </form>
</center>
</body>
</html>