<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        a:hover {
            box-shadow: 0 12px 16px 0 black, 0 17px 50px 0 black;
            background: #da190b;
        }
    </style>
    <link rel="stylesheet" href="styles/layputstyles_user.css">



</head>

<body>
    <div class="header">
        <h1>Airlines Booking Platform</h1>
        <p>Book Flight tickets and Keep track of your Booking History</p>
    </div>
    {{!-- <div class="topnav">
        <a href="/user_profile">Profile</a>
        <a href="/user_dashboard">Home</a>
        <a href="/check_flight">Check Flight Ticktets</a>
        <a href="/book_flight">Book a Ticket</a>
    </div> --}}

    </body>

</html>