<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/layoutstyle.css">
    <title>Document</title>
</head>
<style type="text/css">
	form{
		max-width: 1000px !important;
		opacity: 1.5 !important;

	}
	form:hover{
		
		opacity: 1;
	}
</style>
<body>
    <div class="header">
        <h1>Airlines Database Management Platform</h1>
        <p>Manage Flights,Airports and Planes</p>
    </div>
    <div class="topnav">
        <a href="/admin_profile">Profile</a>
        <a href="/admin_home">Home</a>
        <a href="/add_flights">Add flight</a>
        <a href="/delete_flights">Delete Flight</a>
        <a href="/update_flights">Update Flights</a>
        <a href="/show_flights">Show Flight</a>
        <a href="/show_users">Show users</a>
    </div>
</body>
</html>