{{>header_user}}
  <div class="column">
    <h2>Main Content</h2>
    <p>Hai User </p>
  </div>
  
 

	
	
<center>
        <a class="btnsubmit" href="/book_flight" style="text-decoration: none;color: white; ">Book Tickets</a>
</center>