{{>header}}
<center>
            <div class="container">
            <img src="{{b}}" height="300" width="300">
            <ul>
                <li><h2>{{a}}</h2></li>      
            </ul>
            <a style="   display:block;
        padding:25px;
        margin:25px;
        border-radius: 25px;
        color:white;
        background-color: #f44336;
        box-sizing: 30%;
        text-decoration: none;"   href="/login">LogOut</a>   
        </div>
</center>