{{>header}}
    	<div class="column">
        <h2>Main Content</h2>
        <p>Hai Admin </p>
        <h1>Hello {{adminName}}</h1>
        </div>
        <center>
        <a style="   display:block;
        padding:25px;
        margin:25px;
        border-radius: 25px;
        color:white;
        background-color: #f44336;
        box-sizing: 30%;
        text-decoration: none;
        width: 25%;
        font-size: 1.5rem;
        text-align: center;"   href="/login">LogOut</a> 
        </center>