{{>header}}
<style>
    .successfull_update{
        {{!-- background-color: aquamarine; --}}
        display: flex;
        align-items: center;
        justify-content: center;
        height:300px;
        width: 500px;
    }
</style>
<center>
    <div class="successfull_update">
        <h1>{{data}}</h1>
    </div>
</center>